<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Módulo de perguntas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="mod/src/style/main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    </head>
    <body>
        <div class="container-fluid my-3" id="main">        
            <div class="card-header ">
                <h5 class="card-title justify-content-center d-flex text-uppercase">Módulo de perguntas</h5>   
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a :class="pag !=2?'nav-link active':'nav-link'" @click="a=>{pag=1;sub_pag=1}" href="#">Dimensões</a>
                    </li>
                    <li class="nav-item">
                        <a :class="pag ==2?'nav-link active':'nav-link'" @click="a=>{pag=2;sub_pag=1}" href="#">Perguntas</a>
                    </li>
                </ul>
            </div>
            <div class="card-body" v-if="pag !=2">
                <div class="row justify-content-end" v-if="sub_pag ==1"> 
                    <div class="col-lg-2 col-md-3 col-sm-4 col-8">
                        <button type="button" class="btn btn-primary m-3 float-right add" @click="a=>{sub_pag=2; idx=-1}">
                            <i class="fas fa-plus"></i> Criar dimensão
                        </button>
                    </div>     
                </div>
                <table  id="DataTable" class="table m-0 table-striped" v-if="sub_pag ==1">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>                        
                        <th width="100px">Ações</th>
                    </tr>
                    <tr v-for="dimensao, id of dimensoes">
                        <td>{{dimensao.id}}</td>
                        <td>{{dimensao.dimensao}}</td>
                        <td>
                            <div class="btn-group" @click="dropdown(id)">
                                <button class="btn btn-primary" role="button" >
                                    <i :class="sub_menu !== id? 'fas fa-caret-square-down':'fas fa-caret-square-up'"></i>
                                </button>
                                <div :class="sub_menu === id? 'dropdown-menu show mt-5 ': 'dropdown-menu'" >
                                    <a class="dropdown-item" href="#" @click="b=>{idx=id;sub_pag=2}"> <i class="fas fa-edit"></i> Editar</a>
                                    <a class="dropdown-item" href="#" @click="remove(dimensao.id,id)"><i class="fas fa-trash-alt"></i> Deletar</a>                                     
                                </div>
                            </div>
                        </td>                        
                    </tr>
                    <tr v-if="dimensoes.length<=0">
                        <td colspan="5" style="text-align: center">
                            Nenhuma dimensão encontrada
                        </td>
                    </tr>
                </table>
                <form action="POST" v-if="sub_pag == 2" id="formDimensao" >
                    <div class="row justify-content-md-center">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Nome da dimensão: </label>
                                <input v-if="idx >= 0" placeholder="Nome" class="form-control" :value="dimensoes[idx].dimensao" name="dimensao" required>
                                <input v-else class="form-control"  name="dimensao" required>
                            </div>
                            <div class="row justify-content-start m-2">
                                <div class="col-12">
                                    <button  class="btn btn-primary m-2" type="submit" ><i class="icon icon-save" aria-hidden="true"></i> Salvar</button>
                                    <button  class="btn btn-danger m-2" type="button" @click="a=>{sub_pag=1; idx=-1}"><i class="icon icon-save" aria-hidden="true"></i> Cancelar</button>
                                </div>
                            </div>                    
                        </div>
                    </div>                    
                </form>
            </div>  
            <div class="card-body" v-if="pag ==2">
                <div class="row " v-if="sub_pag ==1"> 
                    <div class=" col-md-4 col-sm-4 col-8">                        
                        <select class='form-control  m-sm-3 m-1' v-model="filterByDm" onchange="filterByDm(this.value)"> 
                            <option hidden>Filtar por dimensões</option>
                            <option value=false>Todas as dimensões</option>
                            <option v-for="dimensao, id of dimensoes" :value="dimensao.dimensao">{{dimensao.dimensao}}</option>  
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-8">
                        <div class="form-group m-sm-3 m-1">                  
                            <input class="form-control" placeholder="filtrar por pergunta" :value="filterByPg" oninput="filterByPg(this.value)">
                        </div>
                    </div>
                    <div class="offset-lg-2 col-lg-2 col-md-3 col-sm-4 col-8">
                        <button type="button" class="btn btn-primary m-sm-3 m-1 float-right add" @click="a=>{sub_pag=2; idx=-1}">
                            <i class="fas fa-plus"></i> Criar pergunta
                        </button>
                    </div>     
                </div>                
                <table  id="DataTable" class="table m-0 table-striped"  v-if="sub_pag ==1">
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Dimensão</th>                        
                        <th>Pergunta</th>                        
                        <th width="100px">Ações</th>
                    </tr>
                    <tr v-for="pergunta, id of perguntas">
                        <td>{{pergunta.id}}</td>
                        <td>
                        <label class="box"> 
                            <input type="checkbox" :checked="pergunta.status == 1? true:false" @change="status(pergunta.id,id,$event.target.checked)">
                            <span class="checkmark"></span>
                        </label>
                        </td>
                        <td>{{pergunta.dimensao}}</td>                        
                        <td>{{pergunta.pergunta}}</td>                        
                        <td>
                            <div class="btn-group" @click="dropdown(id)">
                                <button class="btn btn-primary" role="button" >
                                    <i :class="sub_menu !== id? 'fas fa-caret-square-down':'fas fa-caret-square-up'"></i>
                                </button>
                                <div :class="sub_menu === id? 'dropdown-menu show mt-5 ': 'dropdown-menu'" >
                                    <a class="dropdown-item" href="#" @click="b=>{idx=id;sub_pag=2}"> <i class="fas fa-edit"></i> Editar</a>
                                    <a class="dropdown-item" href="#" @click="remove(pergunta.id,id)"><i class="fas fa-trash-alt"></i> Deletar</a>                                     
                                </div>
                            </div>
                        </td>                                         
                    </tr>
                    <tr v-if="perguntas.length<=0">
                        <td colspan="5" style="text-align: center">
                            Nenhuma pergunta encontrada
                        </td>
                    </tr>
                </table>
                <form action="POST" v-if="sub_pag == 2" id="formPergunta" >
                    <div class="row justify-content-md-start">
                        <div class="col-sm-5 m-2">
                            <div class="form-group">
                                <label>Dimensão: </label>
                                <select class='form-control'  v-if="idx >= 0" :value="perguntas[idx].dimensao" required>                                    
                                    <option v-for="dimensao, id of dimensoes" :value="dimensao.dimensao">{{dimensao.dimensao}}</option>  
                                </select>
                                <select class='form-control'  v-else required> 
                                    <option hidden selected value="">Selecione uma Dimensão</option>
                                    <option v-for="dimensao, id of dimensoes" :value="dimensao.dimensao">{{dimensao.dimensao}}</option>  
                                </select>
                            </div>    
                        </div>
                        <div class="col-sm-6 m-2">
                            <div class="form-group">
                                <label>Texto da pergunta: </label>
                                <input v-if="idx >= 0" placeholder="Nome" class="form-control" :value="perguntas[idx].pergunta" name="dimensao" required>
                                <input v-else class="form-control"  name="dimensao" required>
                            </div>
                        </div>
                        <div class="row justify-content-start m-2">
                            <div class="col-12">
                                <button  class="btn btn-primary m-2" type="submit" ><i class="icon icon-save" aria-hidden="true"></i> Salvar</button>
                                <button  class="btn btn-danger m-2" type="button" @click="a=>{sub_pag=1; idx=-1}"><i class="icon icon-save" aria-hidden="true"></i> Cancelar</button>
                            </div>
                        </div>                   
                    </div>                    
                </form>
            </div>  
        </div>           
        <script src="mod/src/script/main.js"></script>
    </body>
</html>